<%= render "shared/header" %>

<div class='item-contents'>
  <h2 class='title'>検索結果</h2>
  <ul class='item-lists'>
    <% if @items == nil %>
      <h2 class='subtitle'>検索ワードを入力してください</h2>
    <% elsif @items.count == 0 %>
      <h2 class='subtitle'>該当する商品はありませんでした</h2>
    <% else %>
      <% @items.each do |item| %>
        <li class='list'>
          <%= link_to item_path(item) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" %>
            <% if Purchase.exists?(item_id: item.id) %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
            <% end %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.name %>
            </h3>
            <div class='item-price'>
              <span><%= item.price %>円<br><%= item.shipping_fee_type.name %></span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= render "shared/footer" %>